h1, h2, h3, h4 {
    font-family: Arial,Verdana,'Bitstream Vera Sans',Helvetica,sans-serif;
    font-weight: bold;
    letter-spacing: -0.018em;
    page-break-after: avoid;
}

h3 {
    font-size: 14px;
}

h3.builds {
    font-weight: bold;
    text-align: left;
    margin: 2em 0 0 2em;
}

table.builds {
    border-collapse: separate;
    border-top: 1px solid #666;
    margin-left: 2em;
    table-layout: fixed;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table.builds th {
    padding: 0 1em 0 .25em;
    text-align: left;
    vertical-align: top;
}

table.builds th p {
    color: #666;
    font-size: smaller;
    margin-top: 0;
}

table.builds td {
    color: #999;
    border: 1px solid;
    padding: .25em .5em;
    vertical-align: top;
}

table.builds td.success {
    background: #9d9;
    border-color: #696;
    color: #393;
}

table.builds .status {
    color: #000;
}

:link, :visited {
    text-decoration: none;
    color: #b00;
    border-bottom: 1px dotted #bbb;
}

:link:hover, :visited:hover {
    background-color: #eee;
    color: #555;
}